<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>je</key>
		<string>3</string>
		<key>jyls</key>
		<string>73437002</string>
		<key>lx</key>
		<string>消费</string>
		<key>sb</key>
		<string>ZN-消费机#352</string>
		<key>sh</key>
		<string>中心食堂/乐购超市</string>
		<key>sj</key>
		<string>2015-12-16 18:57</string>
		<key>xm</key>
		<string>田媛</string>
		<key>ye</key>
		<string>31.52</string>
	</dict>
	<dict>
		<key>je</key>
		<string>7.5</string>
		<key>jyls</key>
		<string>73436166</string>
		<key>lx</key>
		<string>消费</string>
		<key>sb</key>
		<string>ZN-消费机#034</string>
		<key>sh</key>
		<string>主食组</string>
		<key>sj</key>
		<string>2015-12-16 18:53</string>
		<key>xm</key>
		<string>田媛</string>
		<key>ye</key>
		<string>36.12</string>
	</dict>
	<dict>
		<key>je</key>
		<string>1.6</string>
		<key>jyls</key>
		<string>73436189</string>
		<key>lx</key>
		<string>消费</string>
		<key>sb</key>
		<string>ZN-消费机#032</string>
		<key>sh</key>
		<string>主食组</string>
		<key>sj</key>
		<string>2015-12-16 18:47</string>
		<key>xm</key>
		<string>田媛</string>
		<key>ye</key>
		<string>34.52</string>
	</dict>
	<dict>
		<key>je</key>
		<string>6</string>
		<key>jyls</key>
		<string>73348082</string>
		<key>lx</key>
		<string>消费</string>
		<key>sb</key>
		<string>ZN-消费机#136</string>
		<key>sh</key>
		<string>大学城食堂二楼</string>
		<key>sj</key>
		<string>2015-12-15 10:08</string>
		<key>xm</key>
		<string>田媛</string>
		<key>ye</key>
		<string>43.62</string>
	</dict>
	<dict>
		<key>je</key>
		<string>5</string>
		<key>jyls</key>
		<string>73347754</string>
		<key>lx</key>
		<string>消费</string>
		<key>sb</key>
		<string>ZN-消费机#151</string>
		<key>sh</key>
		<string>大学城食堂三楼</string>
		<key>sj</key>
		<string>2015-12-15 10:05</string>
		<key>xm</key>
		<string>田媛</string>
		<key>ye</key>
		<string>49.62</string>
	</dict>
	<dict>
		<key>je</key>
		<string>5.2</string>
		<key>jyls</key>
		<string>73330804</string>
		<key>lx</key>
		<string>消费</string>
		<key>sb</key>
		<string>ZN-消费机#371</string>
		<key>sh</key>
		<string>大学城/雅客来二店</string>
		<key>sj</key>
		<string>2015-12-14 18:17</string>
		<key>xm</key>
		<string>田媛</string>
		<key>ye</key>
		<string>4.62</string>
	</dict>
	<dict>
		<key>je</key>
		<string>6</string>
		<key>jyls</key>
		<string>73326247</string>
		<key>lx</key>
		<string>消费</string>
		<key>sb</key>
		<string>ZN-消费机#136</string>
		<key>sh</key>
		<string>大学城食堂二楼</string>
		<key>sj</key>
		<string>2015-12-14 17:52</string>
		<key>xm</key>
		<string>田媛</string>
		<key>ye</key>
		<string>9.82</string>
	</dict>
	<dict>
		<key>je</key>
		<string>4</string>
		<key>jyls</key>
		<string>73325664</string>
		<key>lx</key>
		<string>消费</string>
		<key>sb</key>
		<string>ZN-消费机#126</string>
		<key>sh</key>
		<string>大学城食堂二楼</string>
		<key>sj</key>
		<string>2015-12-14 17:48</string>
		<key>xm</key>
		<string>田媛</string>
		<key>ye</key>
		<string>15.82</string>
	</dict>
	<dict>
		<key>je</key>
		<string>0.8</string>
		<key>jyls</key>
		<string>73265779</string>
		<key>lx</key>
		<string>消费</string>
		<key>sb</key>
		<string>ZN-消费机#301</string>
		<key>sh</key>
		<string>兴业苑食堂三楼</string>
		<key>sj</key>
		<string>2015-12-13 18:04</string>
		<key>xm</key>
		<string>田媛</string>
		<key>ye</key>
		<string>19.82</string>
	</dict>
	<dict>
		<key>je</key>
		<string>1</string>
		<key>jyls</key>
		<string>73265611</string>
		<key>lx</key>
		<string>消费</string>
		<key>sb</key>
		<string>ZN-消费机#309</string>
		<key>sh</key>
		<string>兴业苑食堂三楼</string>
		<key>sj</key>
		<string>2015-12-13 18:01</string>
		<key>xm</key>
		<string>田媛</string>
		<key>ye</key>
		<string>20.62</string>
	</dict>
	<dict>
		<key>je</key>
		<string>1</string>
		<key>jyls</key>
		<string>73265554</string>
		<key>lx</key>
		<string>消费</string>
		<key>sb</key>
		<string>ZN-消费机#309</string>
		<key>sh</key>
		<string>兴业苑食堂三楼</string>
		<key>sj</key>
		<string>2015-12-13 18:01</string>
		<key>xm</key>
		<string>田媛</string>
		<key>ye</key>
		<string>21.62</string>
	</dict>
	<dict>
		<key>je</key>
		<string>6</string>
		<key>jyls</key>
		<string>73261591</string>
		<key>lx</key>
		<string>消费</string>
		<key>sb</key>
		<string>ZN-消费机#003</string>
		<key>sh</key>
		<string>小面馆</string>
		<key>sj</key>
		<string>2015-12-13 17:20</string>
		<key>xm</key>
		<string>田媛</string>
		<key>ye</key>
		<string>22.62</string>
	</dict>
	<dict>
		<key>je</key>
		<string>9</string>
		<key>jyls</key>
		<string>73255817</string>
		<key>lx</key>
		<string>消费</string>
		<key>sb</key>
		<string>ZN-消费机#135</string>
		<key>sh</key>
		<string>大学城食堂二楼</string>
		<key>sj</key>
		<string>2015-12-13 12:34</string>
		<key>xm</key>
		<string>田媛</string>
		<key>ye</key>
		<string>28.62</string>
	</dict>
	<dict>
		<key>je</key>
		<string>8.5</string>
		<key>jyls</key>
		<string>73071572</string>
		<key>lx</key>
		<string>消费</string>
		<key>sb</key>
		<string>ZN-消费机#127</string>
		<key>sh</key>
		<string>大学城食堂二楼</string>
		<key>sj</key>
		<string>2015-12-12 18:13</string>
		<key>xm</key>
		<string>田媛</string>
		<key>ye</key>
		<string>42.12</string>
	</dict>
	<dict>
		<key>je</key>
		<string>4.5</string>
		<key>jyls</key>
		<string>73071922</string>
		<key>lx</key>
		<string>消费</string>
		<key>sb</key>
		<string>ZN-消费机#152</string>
		<key>sh</key>
		<string>大学城食堂三楼</string>
		<key>sj</key>
		<string>2015-12-12 18:12</string>
		<key>xm</key>
		<string>田媛</string>
		<key>ye</key>
		<string>37.62</string>
	</dict>
</array>
</plist>
